<div>
    <h1>EVENT</h1>
    <pre>Oberon Prime Access features:
· Oberon Prime
· Oberon Prime Glyphs: Show your devotion for your favorite Paladin with all-new Glyphs!
· Silva & Aegis Prime: Be as stalwart in your defense as you are in your convictions. Bide your time blocking before striking down your foes with this heat-based mace and shield combo.
· Sybaris Prime: Become judge, jury, and executioner with this elegant and deadly lever-action Tenno rifle capable of firing a twin pair of bullets in quick succession.

Oberon Prime Accessories:

· Aroka Prime Sugatra: This Orokin Sugatra was given to only the most capable of fighters, those worthy of becoming both protector and aggressor, the System’s Sword and Shield.
· Sukira Prime Syandana: The King of the Forest requires a crest befitting of his stature. Oberon Prime’s signature Syandana achieves this with flair.

You can also find Relics in game containing the Blueprints and parts required to build Oberon Prime, Silva & Aegis Prime, and Sybaris Prime.</pre>
<div style="width:auto;"><img src="https://n8k6e2y6.ssl.hwcdn.net/uploads/generated_thumbnails/573e16a78b655f62be55e8f2e16d8fdc.jpg"/> </div>
</div>