<div id="event">
    <h1>EVENT</h1>
    <div id="events"><h3>OBERON PRIME ACCESS IS HERE!</h3>
    <pre><b>Oberon Prime Access features:</b>
· Oberon Prime
· Oberon Prime Glyphs: Show your devotion for your favorite Paladin with all-new Glyphs!
· Silva & Aegis Prime: Be as stalwart in your defense as you are in your convictions. Bide your time blocking before striking down your foes with this heat-based mace and shield combo.
· Sybaris Prime: Become judge, jury, and executioner with this elegant and deadly lever-action Tenno rifle capable of firing a twin pair of bullets in quick succession.

<b>Oberon Prime Accessories:</b>
· Aroka Prime Sugatra: This Orokin Sugatra was given to only the most capable of fighters, those worthy of becoming both protector and aggressor, the System’s Sword and Shield.
· Sukira Prime Syandana: The King of the Forest requires a crest befitting of his stature. Oberon Prime’s signature Syandana achieves this with flair.

You can also find Relics in game containing the Blueprints and parts required to build Oberon Prime, Silva & Aegis Prime, and Sybaris Prime.</pre>
<div style="width:auto;"><img src="https://n8k6e2y6.ssl.hwcdn.net/uploads/generated_thumbnails/573e16a78b655f62be55e8f2e16d8fdc.jpg"/></div></div>

    <div id="events"><h3>NEW ITEMS ARE ENTERING PRIME VAULT!</h3>
    <pre>If you already have these Primes and Relics in your Inventory, they will remain and you can continue to play them. If not, gear up, grab your fellow Tenno and find the Relics now.</pre>
    <img src="https://n8k6e2y6.ssl.hwcdn.net/uploads/228eaca6ccff5c7487022244296b77ed.jpg" width="600" height="230"/></div>

    <div id="events"><h3>NEW WEAPONS ACCESS UNTIL 2020</h3>
    <input type="text" [(ngModel)]="newWeapon">
    <button (click)="addNewWeapon(newWeapon)">add weapon</button>


    <button (click)="getWeaponArray()">update new weapon</button>
    <input type="text" [(ngModel)]="xpostWeapon">
    <button (click)="postWeapon(xpostWeapon)">post weapon to web-API</button>

    

    <table style="color:cornflowerblue;"><tr><td style="width: 100px;font-weight: 900;">Index List:</td><app-index></app-index></tr></table>

    
        <table>
            <app-new-weapon [weapon]="weapon" *ngFor="let weapon of wData.weaponList"></app-new-weapon>
        </table>
    </div>
</div>