
<!--
<div>
  <table align="center">
    <td>
      <tr>
        <img (click)="showLog(log)" width="600" src="https://de7i3bh7bgh0d.cloudfront.net/2016/07/05/16/50/17/0ce17b10-565d-4284-a9d0-617d26ee339b/VizBlog_OnePiece.jpg" />
      </tr><br>
      <tr>
        โจรสลัดโหดสัส <button class="btn btn-default" (click)="article1(message)">กด!!</button>
      </tr>
      <tr>
        {{showMessage}}
      </tr>  
    </td>
  </table>
</div>-->
<!--<div>
  <h1>{{articleAdd.nameArticle}}</h1>
  <h3>{{articleAdd.detailArticle}}</h3>
</div>-->
<h1>article</h1>
<p> {{articleAdd.nameArticle}}   :  {{articleAdd.detailArticle}}</p>
<hr>
