<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <table  class="table" border="3">
    <tr> 
      <th>New</th>
      <th>Show</th>
    </tr>
    <tr>
      <td>        
      </td>
      <td>
        <app-product> </app-product>
      </td>
    </tr>
    <tr>
      <td>        
      </td>
      <td>
         <app-article></app-article>
      </td>
    </tr>
    <tr>
      <td>        
      </td>
      <td>
        <app-events></app-events>
      </td>
    </tr>
    
  </table>
 
 
  
</div>
